.list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.item:not(:last-child) {
  margin-right: 25px;
}
.button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}
.title {
  margin: 20px 0;
}
